#page-two {
  width: 100vw;
  height: 100vh;
}

#map {
  height: 50vh;
  width: 90vw;
  border: 1px solid black;
  margin: 10px;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: #6C8EAD;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0px;
}

.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.1);
}

.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.custom-popup .leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}

#filter-all-markers-btn{
  background-color: white;
  margin: 10px;
  border: 3px solid black;
  color: black;
}

#filter-spark-layer-btn{
 background: linear-gradient(to right, #FF3C38, #FFF275, #46F146, #46EBF1);
 margin: 10px;
 border: 3px solid black;
 color: black;
}

#filter-within-100m-layer-btn{
  background-color: #FFF275;
  margin: 10px;
  border: 3px solid black;
  color: black;
}

#filter-within-500m-layer-btn{
  background-color: #FF8C42;
  margin: 10px;
  border: 3px solid black;
  color: white;
}

#filter-within-1km-layer-btn{
  background-color: #FF3C38;
  margin: 10px;
  border: 3px solid black;
  color: white;
}

#legend-div{
  position: absolute;
  right: 0;
}

#legend-icon-current{
  background-image: url("../images/parent-child-marker.jpeg");
}

#legend-icon-all{
  background-image: url("../images/main-01-icon.png");
}

#legend-icon-spark{
  background-image: url("../images/spark-logo.jpeg");
}

#legend-icon-100m{
  background-image: url("../images/100m-icon.png");
}

#legend-icon-500m{
  background-image: url("../images/500m-icon.png");
}

#legend-icon-1km{
  background-image: url("../images/1km-icon.png");
}

.legend-icon{
  background-size:cover;
  background-position:center;
  height: 100px;
  width: 100px;
}

.legend-inner-div{
font-size: 0.7em;
margin: 5px;
}

#preview-div {
  width: 90vw;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  border-radius: 30px;

  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
}

#preview-items-div {
  display: block;
}

#preview-item-one,
#preview-item-two {
  display: none;
  width: 70%;
}

#preview-item-one-name, #preview-item-two-name {
  font-family: 'Montserrat', sans-serif;
}

.remove-btn {
  position: absolute;
  right: -5px;
  top: -10px;
  padding: 0;
}

.preview-card {
  margin: 20px;
  width: 12rem;
  height: 80px;
}

.card-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

#compare-btn{
  background-color: #A23E48;
  margin: 10px;
  border: 3px solid black;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

@media screen and (min-width: 576px){
  #preview-items-div{
    display: flex;
  }

  /* section{
    display: flex;
  }

  #map{
    width: 100vw;
  } */

}