body{
height: 100vh;
width: 100vw;
}

#container{
  position:relative;
}

.hidden-page {
  /* transition: transform 1s; */
  transform: translateX(-100%);
}

.show-page {
transition: transform 1s;
transform: translateX(0);
}

.page{
position: absolute;
}
