body{
height: 100vh;
width: 100vw;
}

#container{
  position:relative;
}

.hidden-page {
  /* transition: transform 1s; */
  transform: translateX(-100%);
}

.show-page {
transition: transform 1s;
transform: translateX(0);
}

.page{
position: absolute;
}

@media screen and (min-width: 576px){
  #preview-items-div{
    display: flex;
  }

  section{
    display: flex;
  }

  #map{
    width: 90vw;
  }

  #legend-div{
    width: 10vw;
  }

}


@media screen and (min-width: 768px){

  

}
  
  @media screen and (min-width: 1200px){


  }